<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js"></script>
</head>
<body>
    <div class="main">
        <img class="logo" src="https://icons.iconarchive.com/icons/iconka/business-outline/512/piggy-bank-icon.png" alt="">

        <p id="text">Sign Up to Piggy Bank</p>

        <form class="form" action="/signin/login" method="post">
            <p class="name">Username</p>
            <input id="username"  class="input"  type="text" name="username" required>
            <p class="name">Password</p>
            <input id="password"  class="input" minlength="4"  type="password" name="password" required>
            <b class="error"> <%= error %> </b>

            <button id="submit" type="submit">Sumbit</button>
        </form>
    </div>
</body>
</html>